.container{
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.row{
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin: 4px;
}

.card-f ,.card-b{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.card-f-visibility-hidden{
   position: fixed;
   transform: rotateY(180deg);
   backface-visibility: hidden;
   transition: 1s;
}

.card-f-visibility-visible{
     position: relative;
   transform: rotateY(0deg);
   backface-visibility: visible;
     transition: 1s;
}